
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00357A;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  padding-block: .5rem;
  background-color: #00357A;
  color: #ffffff;
  font-weight: 700;

}

.logo-section {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.logo-section img {
  width: 2rem;
  border-radius: .2rem;
}
.profile-section {
  padding: .2rem;
}
.header-text {
  text-align: center;
  padding-block: .5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #00357A;
  background-color: #FFBF0F;
  text-shadow: transparent;
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border: 1px solid #FFBF0F;
  -webkit-box-shadow: 0 0 10px #00357A;
        box-shadow: 0 0 10px #FFBF0F;
  width: 70%;
  margin: 0 auto;
  padding-block: 1rem;
}
.sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid #00357A;
  padding: 2rem;
  width: 60%;
  background-color: #00357A;
}
.sub-content > *{
  width: 100%;
}
form > * {
  margin-bottom: 1rem;
}
.student-name, .student-id {
  width: 100%;
  padding-block: .8rem;
  border-radius: .2rem;
  border-color: #FFBF0F;
}
label {
  color: #FFBF0F;
  font-weight: 700;
}
label::after {
  content: "*";
  color: red;
  margin-left: .5rem;
}
.biometrics, .biometrics-prompt {
  display: inline-block;
  width: 12rem;
  height: 10rem;
  background-color: #ffffff;
}
.prompt {
  text-align: center;
  color: #FFBF0F;
  font-weight: 700;
  font-size: 1.2rem;
}
.biometrics {
  margin-right: 2rem;
}
.save-btn-container {
  text-align: center;
}
.save-btn {
  background-color: #FFBF0F;
  padding-block: .8rem;
  padding-inline: 5rem;
  color: #00357A;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #FFBF0F;
  font-size: 1rem;
  font-weight: 700;
  border-radius: .2rem;
  
}
.save-btn:hover {
  -webkit-box-shadow: 0 0 10px #FFBF0F;
  box-shadow: 0 0 10px #FFBF0F;
  transition: 200ms ease-out;
  cursor: pointer;
}
