
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #00357A;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  padding-block: .5rem;
  background-color: #00357A;
  color: #ffffff;
  font-weight: 700;

}
.container {
  position: relative;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: .5rem;

}
.logo-section a {
  color: #ffffff;
}
.logo-section img {
  width: 2rem;
  border-radius: .2rem;
}
.profile-section {
  padding: .2rem;
}
.header-text {
  text-align: center;
  padding-block: .5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #00357A;
  background-color: #FFBF0F;
  text-shadow: transparent;
  -webkit-box-shadow: 0 0 10px #FFBF0F;
        box-shadow: 0 0 10px #FFBF0F;

}
.background {
  background-color: #00357A;
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0 0 10px #00357A;
        box-shadow: 0 0 10px #FFBF0F;
  width: 70%;
  margin: 0 auto;
  padding-block: 1rem;
  background-color: #EBEEFF;

  
}
.sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid #00357A;

 
}
.sub-content > *{
  width: 100%;


}
.drop-down {
  width: 100%;

}
#halls {
  width: 100%;
  padding-block: .8rem;
  border:1px solid #00357A;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #FFBF0F;
  color: #00357A;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  
}
.sub-content > * button {
  width: 100%;
  background-color: #00357A;
  color: #FFBF0F;
  border: 1px solid #00357A;
  font-weight: 600;
  border-radius: .2rem;
  font-size: 1.5rem;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.sub-content > * button:hover {
  background-color: #FFBF0F;
  color: #00357A;
  transition: 200ms ease-in-out;
}

